@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
  display: flex;  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-30deg, #00091C 0%, #0ca6ff77 50%, #1E1E1B 50%, #6A6A5E 100%);
  filter: hue-rotate(100deg); 
 animation: animate 10s linear infinite;

}
@keyframes animate{
    0% {
        filter: hue-rotate(100deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.box{
    position: relative;
    padding: 50px;
width: 360px;
height: 480px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(255,255,255,0.1);
border-radius: 6px;
box-shadow: 0 5px 35px rgba(0,0,0,0.2);
}
.box::after {
    content: '';
    position: absolute ;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3)0%,
    rgba(255,255,255,0.1)15%, transparent 50%,transparent 85%,rgba(255,255,255,0.3)100%);
}
.box .form{
position: relative;
width: 100% ;
}
.box .form h2{
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 25px;

}
.box .form .input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.box .form .input input{
  width: 100%;  
  outline: none;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  padding: 8px 10px;
  border-radius:6px ;
  color: #fff;
  font-size: 17px;
  font-weight: 250px;
  box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
}
.box .form .input input::placeholder{
    color: #fff;
}
.box .form. .input input[type="submit"]{
    background: #fff;
    color: #000;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 250px;
    letter-spacing: 1px;
    cursor: pointer;
}
.box .form .input img{
    position: relative;
    top: 8px;
    left: 10px;
    transform: scale(0.7);
    filter: invert(1);
}
.remember{
position: relative;
display: inline-block;
color: #fff;
font-weight: 250px;
margin-bottom: 10px;
cursor: pointer;

}
.box .form p{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}
.box .form #{
    color: #fff;
}